<div class="master-detail__panel-fill work-order">
  <div class="work-order__heading work-order__heading--{{model.status}}">
    <div class="level level--bottom">
      <div class="level__group level__group--left"></div>
      <div class="level__group level__group--center">
        <h4 class="panel-title no-margin">Work Order</h4>
        <h5 class="panel-subtitle no-margin status--{{model.status}}">{{model.status}}</h5>
      </div>
      <div class="level__group level__group--right">
        <ul class="notification-list">
          <li class="notification-list--item">
            <span class="fa fa-fw fa-file-o"></span>
          </li>
          <li class="notification-list--item">
            <span class="fa fa-fw fa-trash-o"></span>
          </li>
          <li class="notification-list--item">
            <span class="fa fa-fw fa-upload"></span>
          </li>
          <li class="notification-list--item">
            <span class="fa fa-fw fa-paperclip"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="work-order__content">
    <div class="work-order__section">
      <div class="media">
        <div class="media__left">
          <div class="avatar">
            <img src="{{model.guestAvatar}}" alt="{{model.guest}}" class="avatar__pic">
          </div>
        </div>
        <div class="media__content">
          <h4>{{model.guest}}</h4>
          <h5>Guestroom: <strong>{{model.room}}</strong></h5>
          <h5>Notice: {{model.notice}}</h5>
          <h5>Checkout: {{moment-format model.checkout "MM/DD/YYYY"}}</h5>
        </div>
      </div>
    </div>
    <div class="work-order__section">
      <h3>Order Details</h3>

      <div class="media">
        <div class="media__left">
          <p class="label">Item</p>
        </div>
        <div class="media__content">
          <p>{{model.detailsItem}}</p>
        </div>
      </div>
      <div class="media">
        <div class="media__left">
          <p class="label">Issue</p>
        </div>
        <div class="media__content">
          <p>{{model.detailsIssue}}</p>
        </div>
      </div>
      <div class="media">
        <div class="media__left">
          <p class="label">Where</p>
        </div>
        <div class="media__content">
          <p>{{model.detailsWhere}}</p>
        </div>
      </div>
      <div class="media">
        <div class="media__left">
          <p class="label">Description</p>
        </div>
        <div class="media__content">
          <p>{{model.detailsDescription}}</p>
        </div>
      </div>
      <div class="media">
        <div class="media__left">
          <p class="label">Due</p>
        </div>
        <div class="media__content">
          <p>{{moment-format model.due "MMMM D, YYYY"}}</p>
        </div>
      </div>
      <div class="media">
        <div class="media__left">
          <p class="label">Assignee</p>
        </div>
        <div class="media__content">
          <p><a href="#">{{model.assignee}}</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="work-order__footer">
    <div class="level">
      <div class="level__group level__group--left">
        <p class="no-margin">Paused by <a href="#">{{model.assignee}}</a> {{moment-from-now model.lastUpdated}}</p>
      </div>
      <div class="level__group level__group--right">
        <div class="button-group">
          <button class="button">Pause</button>
          <hr class="button-group__divider">
          <button class="button button--success">Start</button>
        </div>
      </div>
    </div>
  </div>
</div>
